// Specific CSS for your home-page



.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: 'Stacker';
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}



.banner p {
  font-size: 30px;
  color: white;
  text-align: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}
.planetcard{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.planetcard:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.planetcard a{
color: white !important;
text-decoration: none;
position:absolute;
width: 100%;
text-align: center;
left: 0;
top: 50%;
font-size: 24px;
font-weight: bold;
}

.mycard {
  width: 30%;
}

h4 {
  font-family: 'Agelast';
}

h2 {
  font-family: 'Agelast';
}
