.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banana {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inner-banana {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  border: #cccccc 2px solid;
  width: 750px;
  opacity: 75%;
}

.unstyled-link {
  text-decoration: none;
}

.container-dashboard{
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-dashboard {
  display: flex;
  justify-content: center;
}
