<p><strong>New booking</strong></p>
<ul class="list-group">
  <li class="list-group-item">
    <%= @booking.start_date %></li>
    <%= @booking.end_date %></li>
    <%= @booking.user.email %></li>
    <%= @booking.spaceship.name %>
    </li>
</ul>
<br>
