<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d3ezn0y6hdgq62.cloudfront.net/NS-18-AudreyPowers.jpeg);">
  <div class="container">
    <h1><strong>starRide</strong></h1>
    <p>giving you <strong>space</strong></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
